	
	@media only screen and (max-width: 1024px) { /* Blue */ /* iPad Landscape ***************************************/
		
		/* Services & Solutions */
		#back_to_top { bottom: 170px; }
			
		#services_nav ul li a span { display: none; }
			
		.sol_r .edit, .sol_l .edit, .serv_r .edit, .serv_l .edit  { padding-top: 0; }
			
		.sol_l, .sol_r, .serv_l, .serv_r { border-bottom: 1px solid #CBCBCB; }

		.sol_r.last, .serv_l.last { border: none; }
			
		#services_nav li {
			margin: 1% 0 1%;
			width: 14.2%;
		}
		
		/* Footer */
		.footer_content_center > ul > li { font-size: 0.65em; }
	
	}
	
	@media only screen and (max-width: 845px) { 
		
			#nav_center ul { display: none }

			#nav_center > select { display: inline-block;}
	}

	@media only screen and (max-width: 768px) { 

		/* Global */
		.header_content_center > h5 { text-align: center; }

		.social_links { 
			position: static;
			margin: 10px auto;
			padding-bottom: 40px;
		}
		
			
		/* Homepage */
		header #rotator_header { padding-left: 0; }

		header#home .social_links { display: none; }

		.homepage_rotator img { 
			top: 45px;
			right: -65px;
			max-width: 90%; 
		}

		header#home { height: 450px; }

		.homepage_rotator img { display: none; }

		.homepage_rotator h1, .homepage_rotator p { text-align: center; }

		.homepage_rotator a { margin: 20px auto 0;}

		.slide_content {margin: 0 auto;}

		#experts, #sol_serv { height: auto; }	

		#home_left_column {
			width: 100%;
			margin: 0;
		}

		#home_right_column {
			width: 100%;
			margin-top: 0;
		}
		
		#home_right_column > div {
			width: 41%;
		}
		
		#testimonials { 
			float: left; 
			height: auto;
		}
		#testimonials img {
		    margin: 2% 8%;
		    position: static;
			width: 80%;
		}

		ul#testimonial_nav { display: none; }
	
		#twitter_stream { 
			margin-top: 0;
			float: right; 
		}

		/* Soltutions & Services */

		.sol_r .sol_contain, .serv_r .serv_contain, .sol_l .sol_contain, .serv_l .serv_contain { display: none;}

		.sol_l .sol_content, .sol_r .sol_content, .serv_l .serv_content, .serv_r .serv_content { width: auto; }
			
		/* show social links */
		.services .social_links { display: block; }

		 #back_to_top { bottom: 250px; }

		/* Our Work */
		.work_site { max-width: 43%; }
			
		/* Experts */
		#expert_left, #expert_right { display: none; }

		.expert_slides .slide {
			left: 2%;
			width: 97%;
		}
		
		/* Clients & Partners */
		#work_samples { display: none; }
		
		#clients p { display: none; }
		
		#clients .client_list { margin: 0 5% 0 0;}

		/* Testimonials */
		.case_study .case_study_container { width: 65%; }

		h2#vid_title, #vid_player { display: none; }

		.case_study > a { display: none; }
		
		.case_study .case_study_container { 
			text-align: center;
			width: auto;
			float: none;
		}

		/* Bios */
		.right_column { font-size: 0.9em; }
			
		/* Contact Us */
		.text_column, #wn_contact_form {
			margin: 0 auto;
		    width: 80%;
			float: none;
		}

		#wn_contact_form input, #wn_contact_form textarea { width: 100%; }

		#some_message_box { margin-right: 30%; }
				
		/* Footer */
		#copyright {
			float: none;
			text-align: center;
			margin: 2em 0 1em 0;
		}
	
		#footer_social_links {
			float: none;
			margin: 0 auto;
		}
	
	}

	@media only screen and (max-width: 540px) { 
		
		/* LINE BREAKS */
		.rwd-line { display: block; }

		/* Global */
		h2 { font-size: 1.2em; }

		p { font-size: 0.8em; }

		.header_content_center > h5 { 
			font-size: 2em;
			line-height: 1.3em;
			text-align: center;
			margin: 10% 0 35px; 
		}

		ul li { font-size: 0.8em; }
		
		/* Navigation */
		nav { position: static; }
		
		/* Home */
		header#home { height: 360px; }
		
		.homepage_rotator h1 { 
			margin-top: 35px;
			font-size: 2em; 
		}

		.homepage_rotator p { font-size: 1em; }

		.slide_content br { display: none; }

		.homepage_rotator { width: auto; }	

		.home_contents > h3 { font-size: 1.6em; }
		
		#small_nav { display: block; }

		#large_nav { display: none; }
		
		#rotator_header .social_links { display: none; }
		
		/* Body */	
		#home_left_column img { display: none; }
	
		#home_right_column #twitter_stream {
			width: auto;
			margin-right: 0;
			float: none;	
		}
		
		#sol_serv > img, #experts > img { display: none; }
		
		.home_contents { width: auto; }
		
		#testimonials { display: none; }
	
		/* Solutions Individual Pages */
		.header_content_center.solutions > img { display: none; }

		.indiv_sol_body h2 { 
			font-size: 1.2em;
			text-align: center; 
		}

		/* Orange Bar */
		header.solution { border-bottom: 15px solid #F16032; }

		header.solution + #one { display: block; }
		
		/* CMS #cms_body */
		.solutions .social_links { display: block; }

		.sol_features ul { list-style: none; }

		.sol_features li { text-align: center; } 

		.cms_features #first { margin: 0; }

		.cms_features ul {
			float: none;
			width: auto;
			list-style: none;
		}
		.cms_features li {
			text-align: center;
			font-size: 0.8em;
		}

		/* Video */
		.body_content_center.indiv_sol_body li { text-align: center; }
			
		/* Services */
		.sol_content, .serv_content { padding-top: 0; }
		
		#solutions_nav > ul { margin-left: 0; }

		#solutions_nav ul li a span { display: none; }

		#solutions_nav li { 
			width: 22%;
			margin-bottom: 1%; 
		}
		
		.sol_l, .sol_r, .serv_l, .serv_r { padding: 2em 0; }

		.sol_l .sol_content, .sol_r .sol_content, .serv_l .serv_content, .serv_r .serv_content { width: auto; }

		.sol_contain img, .serv_contain img { display: none; }
		
		#back_to_top { display: none; }
			
		/* Experts */

		#expert_nav { display: none; }

		.expert_slides .slide { 
		    border-bottom: 1px solid #CBCBCB;
		    opacity: 1 !important;
		    padding-bottom: 1.5em;
		    position: static;
		}

		.expert_slides { height: 100%; }

		.expert_slides .sme_picture { display: none; }

		.sme_text { 
			width: auto;
			float: none; 
		}

		.sme_text > h2 { text-align: center; }

		.expert_slides .slide .sme_info { 
			position: static;
			margin: 1em auto 0;
		}

		#expert_nav li a {
		    font-size: 2em;
		    margin: 0 0.1em;
		}
		
		/* Clients and Partners */
		#clients, #partners { padding: 0; }
		#clients h2, #partners h2, #clients .client_list ul li { text-align: center; }
		#clients .client_list { 
			margin: 0;
			float: none;
			width: auto; 
		}
		#partners ul li { margin: 4.5% 4.5% 0;}
		
		/* Our Work */

		.work_site { max-width: 39%; }
		.work_label a > img { display: none; }

		/* Bios */
			#r_col_bios { display: none; }
			#l_col_bios { width: auto; }
			#l_col_bios > h2 { text-align: center; }
			#l_col_bios > img { display: block; }
			#l_col_bios > span { text-align: center; }
		
		/* Contactt Us */
		#directions { display: none; }
		#wn_address h2, #wn_address a { font-size: 0.9em; }
		#some_message_box { margin-right: 15%; }
		
		/* Testimonials */
		.case_study > a { display: block; }
		.case_study > a img { height: 75px; }
		.case_study .case_study_container { text-align: left; }
		.case_study .case_study_container > h1 { 
			margin-top: 9px;
			font-size: 1em; 
		}
		.case_study .case_study_container > p { display: none; }
		.case_study_container > a { display: none; }
		
		/* Careers */
		.right_column { display: none; }
		.left_column { 
			padding: 0;
			float: none;
			width: auto;
		}
		.left_column p { font-size: 0.8em; }
		.left_column h2 { font-size: 1em; }
		#job_desc_container { border: none; }
		#about_careers { background-color: #eeeeee; }
		
		#responsive_dropdown { display: block; }
		#responsive_dropdown #career_nav_small { display: block; }	 
			
		
		/* Footer */ 
		#footer_links { padding: 0 5% 3%; }
		#copyright > span { text-align: center; }
		.footer_content_center > ul { display: none; }
		#copyright span { font-size: 0.6em; }
			
	}
	
	@media only screen and (max-width: 320px) {
		
		/* Nav */
		nav { height: 120px;}
		
		#nav_center > a {
		    float: none;
		    margin: 0 auto;
		    padding-top: 10px;
		    width: 140px;
		}
		
		#nav_center > select {
		    right: 9%;
		    width: 80%;
		}
		
		/* Home */
		header#home { height: 480px; }
			
		/* Contact Us */
		#wn_address {  margin: 3em auto 3em 1em; }

		.text_column, #wn_contact_form, #wn_contact_form input, #wn_contact_form textarea { width: 95% }

		.text_column #fax, .text_column #phone { 
			float: none;
			margin: 0 auto;
    		padding-left: 20%;
    		width: 40%;
		}
		
		/* Our Work */
		.work_site { max-width: 90%; }

		/* Executive Team */	
		.au_contain { display: block; margin: 0 auto 1em; float: none;}
		
		/* Testimonials */

		.case_study > a { 
			display: block; 
			width: 35%;
		}

		.case_study > a img { height: 66px; }

		.case_study .case_study_container { 
			width: 50%; 
			margin: -0.5em 1em 0.5em 0;
		}

		.case_study .case_study_container > h1 { font-size: 0.7em; }

		.case_study .case_study_container > a { display: none; }

		/* Clients and Partners */
		#partners ul li {
		    margin: 4.5% 6.5% 0;
		} 
	
	}

